/* Reset some default styles */
body, h1, ul, li, form {
    margin: 0;
    padding: 0;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

header img {
    display: block;
    margin: 0 auto;
}

header ul {
    list-style: none;
    text-align: center;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center; /* Center align section */
}

form h1 {
    color: #333;
    margin-bottom: 15px;
}

form span {
    display: block;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    text-align: left; /* Align labels to the left */
}

form textarea, form input[type="text"], form input[type="number"] {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
